* {
  box-sizing: border-box;
  margin: 0;
}

.container{
  border: 2px solid #201d1b;
  border-radius: 5px;
  background-color: #ffffff;
  
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(16, minmax(0,1fr));
  grid-template-rows: repeat(9, minmax(0,1fr));
  grid-template-areas: 
  "hd hd hd rb rb rb rb rb rb rb rb rb rb wk wk wk"
  "fv fv fv vp vp vp vp vp vp vp vp vp vp vp vp vp"
  "fv fv fv vp vp vp vp vp vp vp vp vp vp vp vp vp"
  "fv fv fv vp vp vp vp vp vp vp vp vp vp vp vp vp"
  "fv fv fv vp vp vp vp vp vp vp vp vp vp vp vp vp"
  "fv fv fv vp vp vp vp vp vp vp vp vp vp vp vp vp"
  "sv sv sv vp vp vp vp vp vp vp vp vp vp vp vp vp"
  "sv sv sv vp vp vp vp vp vp vp vp vp vp vp vp vp"
  "sv sv sv vp vp vp vp vp vp vp vp vp vp vp vp vp";
}
.container > div {
  border: 1px solid black;
}
myCanvas {
  background: #000000;
}

.workspace_buttons {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}
.workspace:hover .workspace_buttons {
  display: block;
}

